[submodule "third_party/ianic-tls"]
	path = third_party/ianic-tls
	url = https://github.com/ianic/tls.zig.git
[submodule "third_party/zig-kafka"]
	path = third_party/zig-kafka
	url = https://github.com/Ugbot/zig-kafka.git
	branch = zig-0.16
[submodule "third_party/redis.zig"]
	path = third_party/redis.zig
	url = https://github.com/lalinsky/redis.zig.git
[submodule "third_party/nats.zig"]
	path = third_party/nats.zig
	url = https://github.com/nats-io/nats.zig.git
[submodule "third_party/pg.zig"]
	path = third_party/pg.zig
	url = https://github.com/karlseguin/pg.zig.git
[submodule "third_party/buffer"]
	path = third_party/buffer
	url = https://github.com/karlseguin/buffer.zig
[submodule "third_party/metrics"]
	path = third_party/metrics
	url = https://github.com/karlseguin/metrics.zig
